
body{
    margin: 0;
    padding:0;
    background-color:#7790da ;
    height: 700px;
    width: 100%;
    
}

a{
    color: black;
}

html{
    scroll-behavior: smooth;
}
.mint{
    height: 100px;
    background:	#46A3FF;
    display: inline-block;
    width: 100%;
}
.section1{
    height: 700px;
    background: #d6dae6;
    display: inline-block;
    width: 100%;
    font-family: 'Courier New', Courier, monospace"
}
.section2{
    height: 700px;
    background: grey;
    display: inline-block;
    width: 100%;

}
.section3{
    height: 700px;
    background: #d6dae6;
    display: inline-block;
    width: 100%;
}

#A ul li{
    display:inline ;
    padding-right: 10px;
    font-size: 25px;
}

.inner-container{
    justify-content: center;
    align-items: center;
    margin-left :350px; margin-right: 350px ;
    
}

#B {
    margin-left: 350px;font-family: 'Courier New', Courier, monospace;font-size: 25px;
}

#gd{
    
    width: 500px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.backtoTop {
    opacity: 0;
}

.backtoTop.active{
    opacity: 1;
}