.menu {
    display: flex;
    margin: 0 auto;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;

}

.header {
    margin: 0;
    padding: 0;
    background-color: #7790da;
    display: inline-block;
    width: 100%;
}

.home {
    flex: 1;
}

.slam {
    flex: 1;
}

.opensea {
    flex: 1;
}

a {
    color: black;
}

html {
    scroll-behavior: smooth;
}

.mint {
    height: 100px;
    background: #46A3FF;
    width: 100%;
}

.section1 {
    display: flex;
    height: 700px;
    background: #d6dae6;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}

.section1 h1 {
    width: 650px;
    justify-content: center;

}

.section2 {
    display: flex;
    height: 700px;
    background: grey;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}

.section2 h1 {
    width: 650px;
    justify-content: center;
}

.section2 img {
    position: relative;
    right: 100px;
    width: 600px;
    height: 500px;
}

.section3 {
    display: flex;
    height: 700px;
    background: #d6dae6;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
}

.section3 h1{
    position: relative; top:100px;
   
    width: 800px;
    justify-content: center;
}

.section3 img{
    position: relative; right: 130px; bottom: 130px;
}

#B {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;

}

#gd {

    width: 500px;
}

.backtoTop {
    opacity: 0;
}

.backtoTop.active {
    opacity: 1;
}