<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initail-scale="1.0">        
        <meta name="description" content="">  
        <title>Mysite</title>  
        <script src="script.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mysite.css')}}" type="text/css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar&family=Open+Sans&family=PT+Mono&family=VT323&display=swap" rel="stylesheet"> 
    </head>

    <body style="height: 100%;">
        <div class="a">
            <div class="item">                
                <div class="GaryWebsite">
                    <img class="spaceman" src="{{ url_for('static', filename='images/mysite/little.png')}}" alt="">
                    <h1>Gary<br>Website
                        <p>Gary's website only for educational purposes, take a look if you want!</p>  
                    </h1>                                                                                                     
                </div>
                
                <div class="part2">
                    <h1 class="website1">Website1
                        <p>First Project about slam<br>it's is a website where <br> you can connect your Metamask</p>
                        <a class="blue" href="http://35.89.38.178:8080/website1"> Launch Website One</a>
                    </h1>
                    <h1 class="website2">Website2
                        <p>Second website is my own  version <br> of Azuki, but I can do it even better</p>
                        <a class="green" href="http://35.89.38.178:8080/website2"> Launch Website Two</a>
                    </h1>
                    <h1 class="website3">Website3
                        <p>To be released!</p>
                        <a class="pink" href="">Coming Soon</a>
                    </h1>
                </div>
                
                

                <div class="part4">
                    <div class="part4_ul">
                        <div class="ul_a">
                            <span>More
                                <ul>
                                    <li>developers</li>
                                    <li>ecosystem</li>
                                    <li>learn</li>
                                    <li>shop</li>
                                    <li>perpvangelist</li>                            
                                </ul>   
                            </span>
                            
                        </div>
                        <div class="ul_b">
                            <ul>
                                <li>governancec</li>
                                <li>jobs</li>
                                <li>brand assets</li>
                                <li>investors & stats</li>
                            </ul>
                        </div>
                    </h1>
                    
                </div>

                
                
            </div>
        </div>
        
    </body>
</html>
